/**
 * Styles for layout
 */

.wrapper {
  width: 100%;
}

header {
  background: #3498db;
  color: white;
  border: 1px solid;
  padding: 1em;
  text-align: center;
}
@media screen and (max-width: 1920px) {
  .main-wrapper {
    display: flex;
  }
  .sidebar-wrapper {
    width: 15%;
    margin-top: 2em;
  }
  .content-wrapper {
    margin-left: 1em;
    width: 70%;
  }
  .content {
    margin: auto;
  }
}
.sidebar-ul {
  list-style-type: none;
  padding-left: 10%;
  li.sidebar-li {
    &:hover {
      background: #efefef;
      transform: scale(1.05);
      cursor: pointer;
      transition: transform 0.5s;
    }
  }
}

@media screen and (max-width: 860px) {
  .main-wrapper {
    display: block;
    margin: auto;
  }
  .sidebar-wrapper {
    width: 100%;
    margin: auto;
  }
  .content-wrapper {
    width: 70%;
    margin: auto;
  }
  .source-select {
   width: 50%;

  }
  .content {
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sidebar-ul {
    li.sidebar-li {
      display: inline-block;
    }
  }
}

.sidebar-header {
  text-align: center;
}


.sidebar-li {
  padding: 0.5em;
  text-transform: capitalize;
  &.active {
    background-color: #3498db;
    color: black;
  }
}

.app-header {
  font-weight: bold;
  font-size: 22;
}
