/**
 * Styles for layout
 */
.app-wrapper {
  position: relative;
  height: 100%;
}

.sidebar-wrapper {
  position: fixed;
  border: 1px solid;
  width: 30%;
  height: 40%;
}

.content-wrapper {
  position: absolute;
  border: 1px solid orange;
  left: 35%;
}

.navbar-main {
  border: 1px solid;
  line-height: 3em;
  background: #dad4f2;
}

.sidebar-main {
  border: 1px solid red;
  margin: 10% 20% 10% 20%;
}

ul.sidebar-ul {
  padding: 5% 5% 5% 5%;
  li.sidebar-li {
    display: block;
    &:hover {
      background: #dbd8d8;
      cursor: pointer;
    }
  }
}

