@import '../../../../styles/bootstrapcss/bootstrap.css';
@import 'w3.css';

.content {
  float: left;
  width: 70%;
  margin-left: 5em;
}

.source-select {
  margin-top: 2em;
  h4 {
    color: #3498db;
    font-weight: bold;
  }
}

.source-select-selectbox {
  background: transparent;
  padding: 0.5em;
  border-radius: 5px;
}

.news-feed {
  margin-top: 1em;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.2em;
}

.newsblock-source {
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
}

.newsblock-title {
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
}

.newsblock-content {
  border-left: 1px solid grey;
}

.news-block {
  height: 350px;
  float: left;
  width: 30%;
  img {
    height: 40%;
    padding: 0px 0.4em;
  }
}

.w3-container {
  padding: 0.01em 0.3em;
}

.news-content {
  margin-top: 1em;
}

.source-select {
  select {
   -webkit-appearance: none;
   -moz-appearance: none;
   color: #3498db;
   width: 250px;
   border: 3px solid #3498db;
   padding: 0 auto;
   text-indent: 1px;
   text-overflow: '';
   text-align: center;
   outline: none;
   &::after {
     content: ("!");
   };
   option {
    height: 150%;
   }
  }
}

.news-content {

  .news-description {
    opacity: 0;
    transition: all 1s;
  }
  &:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.5s;
    .news-description {
      opacity: 1;
      transition: all 0.5s  ease 0.2s;
    }
  }
}
